<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>

		<services>
			<service name="Service.EchoService">
				<endpoint	name="RelayEndpoint"
							contract="Service.IEchoContract"
							binding="netTcpRelayBinding"
							bindingConfiguration="default"
							behaviorConfiguration="cardSpaceClientCredentials"
							address="" />
			</service>
		</services>

		<bindings>
			<netTcpRelayBinding>
				<binding name="default" />
			</netTcpRelayBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="cardSpaceClientCredentials">
					<transportClientEndpointBehavior credentialType="CardSpace" />
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>

</configuration>

