<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="fe793dac-49bc-4d59-838b-43197783728f" Publisher="CN=cmayo" Version="1.0.0.0" />
  <Properties>
    <DisplayName>UsingWinRT</DisplayName>
    <PublisherDisplayName>cmayo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>UsingWinRT</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UsingWinRT.App">
      <VisualElements DisplayName="UsingWinRT" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="UsingWinRT" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>