public/app
public/components
dist
app/typings
server/typings/*
!server/typings/azure-iothub

# User config
user-config.json

# Log files
npm-debug.log
debug.log

# Node
node_modules/
npm-debug.log

# VS Code

.browse.VC.db