<nav class="navbar navbar-inverse navbar-fixed-topp">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Lagash</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-controller="Home" class="{{ nav.b1 ? 'active' : '' }}">
                <a href="#" ng-click="show()">Home</a>
            </li>
            <li ng-controller="Routes" class="{{ nav.b2 ? 'active' : '' }}">
                <a href="#" ng-click="show()">Recorridos</a>
            </li>
            <li ng-controller="About">
                <a href="#" ng-click="open()">Acerca de</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
