<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="lagashServiceModelAddress" value="http://localhost:8990"/>
    <add key="lagashServiceModelNamespace" value=""/>
  </appSettings>

  <!--<system.serviceModel>
    <services>
      <service name="Lagash.ServiceModel.Samples.EchoService" behaviorConfiguration="EchoServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Lagash.ServiceModel.Samples.IEcho"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="EchoServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <authentication mode="Windows"/>
  </system.web>
</configuration>