<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>

		<bindings>
			<netTcpRelayBinding>
				<binding name="default" />
			</netTcpRelayBinding>
		</bindings>

		<client>
			<endpoint name="RelayEndpoint"
					  contract="Client.IEchoContract"
					  binding="netTcpRelayBinding"
					  bindingConfiguration="default"
					  address="" />
		</client>

	</system.serviceModel>
</configuration>