@model MoneySample.Models.Dollar

@{
    ViewBag.Title = "Times";
}

<h2>Times</h2>

<fieldset>
    <legend>Dollar</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>
</fieldset>